<h1>TBG Park(ing) Day Websites</h1>
<a href="/admin/new">Create A New Site</a>
<ul>
	<% @sites.each do |site| %>
		<li>
			<%= site.name %>
			
			<a href="/<%= site.slug %>">View</a>
			<a href="/admin/<%= site.id %>">Edit</a>
			<%= delete_button("/admin/#{site.id}") %>
		</li>
	<% end %>
</ul>

