<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="font-family:monaco; font-size: 10pt; width:600px; text-align: center;">
******************************************************************
<br />
<br />
<img src="/images/freesite.gif" style="margin: auto; width: 600px;"/>
<br />
<br />
<br />
<span style="font-size:14pt">http://www.tbgparkingday.com/<%= @site.slug %></span>
<br />
<br />
<br />
******************************************************************
<span style="font-size:12pt">parkingdaynyc.org</span>
</div>
</body>
</html>