<%= error_messages_for @site %>

<div class="input">
	<label>URL:</label>
	http://www.tbgparkingday.com/<%= text_field :slug %>
</div>

<div class="input">
	<label>Name:</label>
	<%= text_field :name %>
</div>

<div class="input">
	<label>Location:</label>
	<%= text_field :location %>
</div>



<button type="submit">Create Site</button>