<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>TBG Park(ing) Day : Create</title>
	
</head>

<body>
	<h1>Make a website</h1>
	
	<% form_for(@site, {:action => '/sites/new', :multipart => true}) do %>
		<div class="input">
			<label>URL:</label>
			http://www.tbgparkingday.com/<%= text_field :slug %>
		</div>
		
		<div class="input">
			<label>Site Title:</label>
			<%= text_field :title %>
		</div>
		
		<div class="input">
			<label>First Name:</label>
			<%= text_field :first_name %>
		</div>
		
		<div class="input">
			<label>Last Name:</label>
			<%= text_field :last_name %>
		</div>

	<% end %>

</body>
</html>
